<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap"
      rel="stylesheet"
    />
    <title>Vintage Iron</title>
  </head>
  <body>
    <!-- Nav Section  -->
    <!-- Logo Art  -->
    <div class="nav-container">
      <div class="nav-logo">
        <img class="logo" id="logo" src="/images/Logo_text.png" alt="" />
      </div>
      <!-- Menu Button  -->
      <div class="nav-right">
        <div class="nav-menu" id="menu-btn">
          <div class="menu-dash one"></div>
          <div class="menu-dash two"></div>
          <div class="menu-dash three"></div>
        </div>
        <p class="call-text">
          <i class="fa-solid fa-phone"></i> (555) 555-5555
        </p>
      </div>
    </div>
    <!-- Navigation  -->
    <nav class="nav">
      <ul class="nav-ul">
        <!-- <li>home</li> -->
        <li class="nav-li"><a href="/index.html">home</a></li>
        <li class="nav-li"><a href="/views/services.html">services</a></li>
        <li class="nav-li"><a onclick="loadGallery()">gallery</a></li>
        <li class="nav-li"><a href="/index.html#contact">contact</a></li>
      </ul>
    </nav>

    <!-- Hero Section  -->
    <section class="hero" id="hero">
      <div class="about-hero-top">
        <h1 class="hero-toptitle">About Vintage Iron</h1>
      </div>
      <div class="about-hero-bottom">
        <div class="about-info">
          <h1 class="hero-bottomtitle">
            vintage iron <br />
            dustless blasting llc
          </h1>
          <p class="hero-text">
            We are a mobile dustless blasting company that specializes in paint
            & rust removal on vehicles.
            <br />
            <br />
            Our Shop is located in Locust Grove and our blasting equipment is
            mobile, so we can travel throughout the southeast or transport you
            to our location depending on the blasting job.
          </p>
        </div>

        <div class="about-img">
          <img src="/images/blaster-bg.png" alt="" />
        </div>
      </div>
    </section>

    <!-- map section  -->
    <section class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53330.09641366579!2d-84.13714409405586!3d33.34152656191411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f45cd5b93aec49%3A0x454f470ecf114b4d!2sLocust%20Grove%2C%20GA!5e0!3m2!1sen!2sus!4v1666456159348!5m2!1sen!2sus"
        width="800"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>

    <!-- map section  -->
    <!-- <div class="map">map</div> -->

    <section class="gallery" id="gallery">
      <div class="gallery-container" id="gallery-container">
        <!-- img  -->
        <div class="gallery-imgs" id="gallery-imgs"></div>

        <div class="close">
          <i class="fa-solid fa-close" id="gallery-close"></i>
        </div>
        <div class="img-btns" id="gallery-btns"></div>
      </div>
    </section>

    <!-- footer section  -->
    <footer id="footer">
      <nav class="footer-menu">
        <div class="footer-logo">
          <img class="logo" src="/images/Logo_text.png" alt="" />
          <h1>Jenkinsberg, Ga.</h1>
          <p>(555) 555-5555</p>
        </div>
        <ul class="footer-ul">
          <li class="footer-li"><a href="/index.html">home</a></li>
          <li class="footer-li"><a href="/views/services.html">services</a></li>
          <li class="footer-li"><a onclick="loadGallery()">gallery</a></li>
          <li class="footer-li"><a href="/index.html#contact">contact</a></li>
        </ul>
      </nav>
      <!-- social links  -->
      <div class="social-links" id="socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <!-- rights section  -->
      <div class="rights-container">
        <h1 class="rights-text">Vintage Iron © 2022 | all rights reserved</h1>
      </div>
    </footer>
  </body>
  <script src="/index.js"></script>
</html>
