<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap"
      rel="stylesheet"
    />
    <title>Vintage Iron</title>
  </head>
  <body>
    <!-- Nav Section  -->
    <!-- Logo Art  -->
    <div class="nav-container">
      <div class="nav-logo">
        <img class="logo" id="logo" src="/images/Logo_text.png" alt="" />
      </div>
      <!-- Menu Button  -->
      <div class="nav-right">
        <div class="nav-menu" id="menu-btn">
          <div class="menu-dash one"></div>
          <div class="menu-dash two"></div>
          <div class="menu-dash three"></div>
        </div>
        <p class="call-text">
          <i class="fa-solid fa-phone"></i> (555) 555-5555
        </p>
      </div>
    </div>
    <!-- Navigation  -->
    <nav class="nav">
      <ul class="nav-ul">
        <!-- <li>home</li> -->
        <li class="nav-li"><a href="/index.html">home</a></li>
        <li class="nav-li"><a href="/views/about.html">about</a></li>
        <li class="nav-li"><a onclick="loadGallery()">gallery</a></li>
        <li class="nav-li"><a href="/index.html#contact">contact</a></li>
      </ul>
    </nav>

    <!-- Hero Section  -->
    <section class="hero" id="hero">
      <div class="services-hero-top">
        <h1 class="hero-toptitle">VIntage Iron Services</h1>
      </div>
      <div class="services-hero-bottom">
        <h1 class="hero-bottomtitle">We come to you</h1>
        <p class="hero-text">
          Vintage Iron is always mobile and we come to your location. We cover
          most of the Southeast Atlanta and usually can arrive within one or two
          weeks of your phone call.
        </p>
        <img
          src="https://www.dustlessblasting.com/hs-fs/hubfs/DUSTLESSBLASTING.COM/Campaigns/Automotive%20Mini%20Site/mobile-business.png?width=400&name=mobile-business.png "
          alt=""
        />
      </div>
    </section>

    <!-- about section  -->
    <div class="services">
      <h1 class="services-title">Blasting is what we do</h1>
      <p class="services-text">
        When you need a reliable automotive media blasting contractor in or
        around South Atlanta, Ga., Vintage Iron Dustless Blasting has your
        covered.
      </p>
      <h1 class="services-title">The Vintage Iron Experience</h1>
      <p class="services-text">
        We can bring our mobile equipment and talented team anywhere in the
        South Atlanta or surrounding areas, including South Fulton, College
        Park, Fayeteville, Newnan, Peachtree City, Morrow, McDonough, Griffin
        and Jackon. We tackle small or large projects for your automotive needs.
        <br />
        <br />
        Interested in learning more about how Vintage Iron Dustless Blasting can
        help you with a restoration project? Give us a call, or send a message
        with your questions. We are glad to provide answers and solutions to
        help you achieve project success.
      </p>
    </div>

    <!-- map section  -->
    <!-- <div class="map">map</div> -->

    <section class="gallery" id="gallery">
      <div class="gallery-container" id="gallery-container">
        <!-- img  -->
        <div class="gallery-imgs" id="gallery-imgs"></div>

        <div class="close">
          <i class="fa-solid fa-close" id="gallery-close"></i>
        </div>
        <div class="img-btns" id="gallery-btns"></div>
      </div>
    </section>

    <!-- footer section  -->
    <footer id="footer">
      <nav class="footer-menu">
        <div class="footer-logo">
          <img class="logo" src="/images/Logo_text.png" alt="" />
          <h1>Jenkinsberg, Ga.</h1>
          <p>(555) 555-5555</p>
        </div>
        <ul class="footer-ul">
          <li class="footer-li"><a href="/index.html">home</a></li>
          <li class="footer-li"><a href="/views/about.html">about</a></li>
          <li class="footer-li"><a onclick="loadGallery()">gallery</a></li>
          <li class="footer-li"><a href="/index.html#contact">contact</a></li>
        </ul>
      </nav>
      <!-- social links  -->
      <div class="social-links" id="socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <!-- rights section  -->
      <div class="rights-container">
        <h1 class="rights-text">Vintage Iron © 2022 | all rights reserved</h1>
      </div>
    </footer>
  </body>
  <script src="/index.js"></script>
</html>
